.container{
  width: 100%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50% , -20%);
  padding-top: 20px;
}

.card-footer p{
  color: white;
  padding: 10px;
  text-align: center;
}

.card{
  border: 4px solid #86ff15;
}